<a href="https://colab.research.google.com/github/MahmoudElhalwany/EGS/blob/master/22%3A59_30/11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np
import json 
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [0]:
credits = pd.read_csv("https://raw.githubusercontent.com/MahmoudElhalwany/film_vote_predictor/master/predicting_movie_success_train_set/predicting_movie_success_train_set/tmdb_5000_credits_train.csv")
movies = pd.read_csv("https://raw.githubusercontent.com/MahmoudElhalwany/film_vote_predictor/master/predicting_movie_success_train_set/predicting_movie_success_train_set/tmdb_5000_movies_train.csv")

Join both csv files on movie_id

In [0]:
credits = credits.drop("title",axis=1)
movies = credits.set_index("movie_id").join(movies.set_index("id"),on ="movie_id" ,sort = True)

In [0]:
movies.reset_index(inplace= True,drop=True)

In [683]:
movies["cast"][4380]

'[{"cast_id": 3, "character": "Cheryl", "credit_id": "52fe4ede9251416c75165335", "gender": 1, "id": 368, "name": "Reese Witherspoon", "order": 0}, {"cast_id": 7, "character": "Bobbi", "credit_id": "537243c50e0a2672e5002096", "gender": 1, "id": 4784, "name": "Laura Dern", "order": 1}, {"cast_id": 13, "character": "Paul", "credit_id": "537244020e0a2672f1001f70", "gender": 0, "id": 1218218, "name": "Thomas Sadoski", "order": 2}, {"cast_id": 28, "character": "Leif", "credit_id": "54b66401c3a368779000193a", "gender": 2, "id": 1223463, "name": "Keene McRae", "order": 4}, {"cast_id": 5, "character": "Jonathan", "credit_id": "537243a70e0a2672f400205e", "gender": 2, "id": 91520, "name": "Michiel Huisman", "order": 5}, {"cast_id": 8, "character": "Frank", "credit_id": "537243ce0e0a2672fb0020a1", "gender": 2, "id": 6951, "name": "W. Earl Brown", "order": 6}, {"cast_id": 6, "character": "Aimee", "credit_id": "537243bd0e0a2672f4002061", "gender": 1, "id": 12930, "name": "Gaby Hoffmann", "order": 7}, {"cast_id": 10, "character": "Greg", "credit_id": "537243de0e0a2672e500209c", "gender": 2, "id": 114000, "name": "Kevin Rankin", "order": 8}, {"cast_id": 11, "character": "Ranger", "credit_id": "537243e70e0a2672eb002042", "gender": 2, "id": 12792, "name": "Brian Van Holt", "order": 9}, {"cast_id": 64, "character": "Ed", "credit_id": "55c6db5e92514105c3001503", "gender": 2, "id": 1272612, "name": "Cliff De Young", "order": 10}, {"cast_id": 4, "character": "Jimmy Carter", "credit_id": "52fe4ede9251416c75165339", "gender": 2, "id": 59014, "name": "Mo McRae", "order": 11}, {"cast_id": 65, "character": "Josh", "credit_id": "55c6db8ac3a36824880015ee", "gender": 0, "id": 1495069, "name": "Will Cuddy", "order": 12}, {"cast_id": 66, "character": "Rick", "credit_id": "55c6dba2c3a3687ed1000e5f", "gender": 0, "id": 1330039, "name": "Leigh Parker", "order": 13}, {"cast_id": 67, "character": "Richie", "credit_id": "55c6dbe492514105c8001440", "gender": 2, "id": 212768, "name": "Nick Eversman", "order": 14}, {"cast_id": 68, "character": "Joe", "credit_id": "55c6dc42c3a368247f0013b5", "gender": 2, "id": 1118080, "name": "Ray Mist", "order": 15}, {"cast_id": 69, "character": "Therapist", "credit_id": "55c6dc5992514105d80013a2", "gender": 2, "id": 1205239, "name": "Randy Schulman", "order": 16}, {"cast_id": 70, "character": "Stacey", "credit_id": "55c6dc7892514105c300152f", "gender": 0, "id": 163013, "name": "Cathryn de Prume", "order": 17}, {"cast_id": 71, "character": "Greg\'s Friend", "credit_id": "55c6dc8792514105cf00140c", "gender": 2, "id": 1495073, "name": "Kurt Conroyd", "order": 18}, {"cast_id": 72, "character": "Greg\'s Friend", "credit_id": "55c6dca692514105c6001451", "gender": 0, "id": 1495074, "name": "Ted de Chatelet", "order": 19}, {"cast_id": 73, "character": "Greg\'s Friend", "credit_id": "55c6dcb0c3a3682496001543", "gender": 0, "id": 1495075, "name": "Jeffree Newman", "order": 20}, {"cast_id": 74, "character": "Lou", "credit_id": "55c6dcf9c3a368248c001404", "gender": 0, "id": 1495076, "name": "Lorraine Bahr", "order": 21}, {"cast_id": 75, "character": "Dave", "credit_id": "55c6dd0592514105c8001473", "gender": 0, "id": 1495077, "name": "Jerry Carlton", "order": 22}, {"cast_id": 76, "character": "Spider", "credit_id": "55c6dd2592514105d200142d", "gender": 0, "id": 1495078, "name": "Kevin-Michael Moore", "order": 23}, {"cast_id": 77, "character": "Saleswoman", "credit_id": "55c6dd3592514105d2001432", "gender": 0, "id": 1495079, "name": "Debra Pralle", "order": 24}, {"cast_id": 78, "character": "Doctor", "credit_id": "55c6dd41c3a3687ed1000ee7", "gender": 0, "id": 1495080, "name": "Gray Eubank", "order": 25}, {"cast_id": 79, "character": "Nurse", "credit_id": "55c6dd5092514105d80013c7", "gender": 0, "id": 1495081, "name": "Anne Sorce", "order": 26}, {"cast_id": 9, "character": "T.J.", "credit_id": "537243d60e0a2672f4002067", "gender": 2, "id": 82945, "name": "Charles Baker", "order": 27}, {"cast_id": 12, "character": "Clint", "credit_id": "537243f80e0a2672f8001f44", "gender": 2, "id": 129868, "name": "J.D. Evermore", "order": 28}, {"cast_id": 80, "character": "Desk Clerk", "credit_id": "55c6dd8c92514105d2001443", "gender": 0, "id": 199704, "name": "Beth Hall", "order": 29}, {"cast_id": 81, "character": "Annette (Frank\'s Wife)", "credit_id": "55c6dda992514105cc00145b", "gender": 1, "id": 143204, "name": "Jan Hoag", "order": 30}, {"cast_id": 82, "character": "Notary", "credit_id": "55c6ddba92514105c8001498", "gender": 0, "id": 1495082, "name": "Carlee McManus", "order": 31}, {"cast_id": 83, "character": "Tattooist", "credit_id": "55c6ddebc3a3682496001566", "gender": 0, "id": 155523, "name": "Art Alexakis", "order": 32}, {"cast_id": 84, "character": "Vera", "credit_id": "55c6de07c3a36810450003c8", "gender": 0, "id": 156395, "name": "Anne Gee Byrd", "order": 33}, {"cast_id": 85, "character": "Kyle", "credit_id": "55c6de2a92514105d2001461", "gender": 0, "id": 1495083, "name": "Evan O\'Toole", "order": 34}, {"cast_id": 86, "character": "Lecturer", "credit_id": "55c6de4092514105d2001466", "gender": 1, "id": 152355, "name": "Jeanine Jackson", "order": 35}, {"cast_id": 87, "character": "Cheryl\'s Dad", "credit_id": "55c6de6292514105d500144a", "gender": 2, "id": 1495084, "name": "Jason Newell", "order": 36}, {"cast_id": 88, "character": "Young Suit #1", "credit_id": "55c6de9692514105d5001454", "gender": 0, "id": 1495085, "name": "Barry O\'Neil", "order": 37}, {"cast_id": 89, "character": "Young Suit #2", "credit_id": "55c6ded4c3a36810450003e3", "gender": 0, "id": 1495086, "name": "Richard Morris", "order": 38}, {"cast_id": 90, "character": "Cheryl (6 Yrs Old)", "credit_id": "55c6deecc3a3687ed1000f2d", "gender": 0, "id": 1495087, "name": "Bobbi Strayed Lindstrom", "order": 39}, {"cast_id": 91, "character": "Man At Gas Station", "credit_id": "55c6defd92514105d5001467", "gender": 0, "id": 1495088, "name": "Robert Alan Barnett", "order": 40}, {"cast_id": 92, "character": "Leif (3 Yrs Old)", "credit_id": "55c6df0dc3a36810450003ee", "gender": 0, "id": 1495089, "name": "William Nelson", "order": 41}, {"cast_id": 93, "character": "Man Behind Counter", "credit_id": "55c6df2a92514105cf001468", "gender": 0, "id": 79907, "name": "Tony Doupe", "order": 42}, {"cast_id": 94, "character": "Weird Dude", "credit_id": "55c6df41c3a368247f001423", "gender": 2, "id": 1379621, "name": "Dan Considine", "order": 43}, {"cast_id": 95, "character": "Outdoor Store Clerk", "credit_id": "55c6df51c3a3687ed1000f47", "gender": 0, "id": 1495090, "name": "Andrew Saunderson", "order": 44}, {"cast_id": 96, "character": "Man At The Hotel Bar", "credit_id": "55c6df79c3a3687ed1000f52", "gender": 0, "id": 1202473, "name": "Greg James", "order": 45}, {"cast_id": 97, "character": "Paul\'s Girlfriend", "credit_id": "55c6df89c3a3687ed1000f57", "gender": 0, "id": 1495091, "name": "Orianna Herrman", "order": 46}, {"cast_id": 98, "character": "Grateful Dead Cover Band", "credit_id": "55c6df9fc3a368248c001469", "gender": 0, "id": 1495092, "name": "Brian Borcherdt", "order": 47}, {"cast_id": 99, "character": "Grateful Dead Cover Band", "credit_id": "55c6dfaec3a3687ed1000f66", "gender": 2, "id": 1193640, "name": "Eric D. Johnson", "order": 48}, {"cast_id": 100, "character": "Wayne", "credit_id": "55c6dfc4c3a368248500155c", "gender": 2, "id": 1371109, "name": "Matt Pascua", "order": 49}, {"cast_id": 101, "character": "Male Nurse", "credit_id": "55c6dfd192514105c60014d5", "gender": 0, "id": 1495093, "name": "Edric Carter", "order": 50}, {"cast_id": 102, "character": "Grateful Dead Fan Musicians", "credit_id": "55c6dff6c3a368247f00143c", "gender": 0, "id": 1495094, "name": "Matthew Noyes", "order": 51}, {"cast_id": 103, "character": "Grateful Dead Fan Musicians", "credit_id": "55c6e00ec3a36824900012d0", "gender": 0, "id": 1495095, "name": "John Dickerson,", "order": 52}, {"cast_id": 104, "character": "Toll Booth Operator", "credit_id": "55c6e021c3a368104500041a", "gender": 0, "id": 1495096, "name": "Denise McSweeny", "order": 53}, {"cast_id": 105, "character": "College Freshman", "credit_id": "55c6e05192514105cf00148c", "gender": 0, "id": 1463282, "name": "Alina Gatti", "order": 54}, {"cast_id": 106, "character": "Son Of Man At Gas Station", "credit_id": "55c6e05e92514105d800143c", "gender": 0, "id": 1495097, "name": "Henry Shotwell", "order": 55}, {"cast_id": 107, "character": "Woman in Truck", "credit_id": "55c6e07ac3a3687ed1000f7f", "gender": 0, "id": 1263516, "name": "Cheryl Strayed", "order": 56}, {"cast_id": 108, "character": "Truck Driver (uncredited)", "credit_id": "56db41a59251417a48002b00", "gender": 2, "id": 1586843, "name": "Vincent M. Biscione", "order": 57}]'

In [684]:
movies

                                                   cast  ... vote_count
0     [{"cast_id": 42, "character": "Ted the Bellhop...  ...      530.0
1     [{"cast_id": 3, "character": "Luke Skywalker",...  ...     6624.0
2     [{"cast_id": 8, "character": "Marlin (voice)",...  ...     6122.0
3     [{"cast_id": 7, "character": "Forrest Gump", "...  ...     7927.0
4     [{"cast_id": 6, "character": "Lester Burnham",...  ...     3313.0
...                                                 ...  ...        ...
4798  [{"cast_id": 1, "character": "Dawn", "credit_i...  ...        NaN
4799  [{"cast_id": 4, "character": "Smith Bhatnagar"...  ...        NaN
4800  [{"cast_id": 3, "character": "Amber", "credit_...  ...        NaN
4801                                                 []  ...        0.0
4802  [{"cast_id": 0, "character": "Narrator", "cred...  ...        NaN

[4803 rows x 21 columns]

In [685]:
movies.columns

Index(['cast', 'crew', 'budget', 'genres', 'homepage', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count'],
      dtype='object')

convert json shape coluns to json

In [0]:
movies["cast"] = movies["cast"].apply(json.loads)
movies["crew"] = movies["crew"].apply(json.loads)
movies["genres"] = movies[movies.genres.notnull()]["genres"].apply(json.loads)
movies["keywords"] = movies[movies.keywords.notnull()]["keywords"].apply(json.loads)
movies["production_companies"] = movies[movies.production_companies.notnull()]["production_companies"].apply(json.loads)
movies["production_countries"] =movies[movies.production_countries.notnull()]["production_countries"].apply(json.loads)
movies["spoken_languages"] = movies[movies.spoken_languages.notnull()]["spoken_languages"].apply(json.loads)

Copy Data

In [0]:
movies_1 = movies.copy()

Convert json columns to list of names

In [0]:
for cast,ind in zip(movies_1["cast"],movies_1.index):
  lis = list()
  for i in range(len(cast)):
    lis.append(cast[i]["name"])
  movies_1.loc[ind,'cast'] = str(lis)

In [0]:
for crew,ind in zip(movies_1["crew"],movies_1.index):
  lis = list()
  for i in range(len(crew)):
    if crew[i]["job"]=="Director":
      lis.append(crew[i]["name"])
  movies_1.loc[ind,'crew'] = str(lis)

In [0]:
for genre,ind in zip(movies_1["genres"],movies_1.index):
  lis = list()
  if isinstance(genre,float):
    continue
  for i in range(len(genre)):
    lis.append(genre[i]["name"])
  movies_1.loc[ind,'genres'] = str(lis)

In [0]:
for keyword,ind in zip(movies_1["keywords"],movies_1.index):
  lis = list()
  if isinstance(keyword,float):
    continue
  for i in range(len(keyword)):
    lis.append(keyword[i]["name"])
  movies_1.loc[ind,'keywords'] = str(lis)

In [0]:
for p_company,ind in zip(movies_1["production_companies"],movies_1.index):
  lis = list()
  if isinstance(p_company,float):
    continue
  for i in range(len(p_company)):
    lis.append(p_company[i]["name"])
  movies_1.loc[ind,'production_companies'] = str(lis)

In [0]:
for p_country,ind in zip(movies_1["production_countries"],movies_1.index):
  lis = list()
  if isinstance(p_country,float):
    continue
  for i in range(len(p_country)):
    lis.append(p_country[i]["name"])
  movies_1.loc[ind,'production_countries'] = str(lis)

In [0]:
for s_language,ind in zip(movies_1["spoken_languages"],movies_1.index):
  lis = list()
  if isinstance(s_language,float):
    continue
  for i in range(len(s_language)):
    lis.append(s_language[i]["name"])
  movies_1.loc[ind,'spoken_languages'] = str(lis)

In [695]:
movies_1["cast"][4380]

'[\'Reese Witherspoon\', \'Laura Dern\', \'Thomas Sadoski\', \'Keene McRae\', \'Michiel Huisman\', \'W. Earl Brown\', \'Gaby Hoffmann\', \'Kevin Rankin\', \'Brian Van Holt\', \'Cliff De Young\', \'Mo McRae\', \'Will Cuddy\', \'Leigh Parker\', \'Nick Eversman\', \'Ray Mist\', \'Randy Schulman\', \'Cathryn de Prume\', \'Kurt Conroyd\', \'Ted de Chatelet\', \'Jeffree Newman\', \'Lorraine Bahr\', \'Jerry Carlton\', \'Kevin-Michael Moore\', \'Debra Pralle\', \'Gray Eubank\', \'Anne Sorce\', \'Charles Baker\', \'J.D. Evermore\', \'Beth Hall\', \'Jan Hoag\', \'Carlee McManus\', \'Art Alexakis\', \'Anne Gee Byrd\', "Evan O\'Toole", \'Jeanine Jackson\', \'Jason Newell\', "Barry O\'Neil", \'Richard Morris\', \'Bobbi Strayed Lindstrom\', \'Robert Alan Barnett\', \'William Nelson\', \'Tony Doupe\', \'Dan Considine\', \'Andrew Saunderson\', \'Greg James\', \'Orianna Herrman\', \'Brian Borcherdt\', \'Eric D. Johnson\', \'Matt Pascua\', \'Edric Carter\', \'Matthew Noyes\', \'John Dickerson,\', \'Denise McSweeny\', \'Alina Gatti\', \'Henry Shotwell\', \'Cheryl Strayed\', \'Vincent M. Biscione\']'

In [696]:
movies_1.head(3)

                                                cast  ... vote_count
0  ['Tim Roth', 'Antonio Banderas', 'Jennifer Bea...  ...      530.0
1  ['Mark Hamill', 'Harrison Ford', 'Carrie Fishe...  ...     6624.0
2  ['Albert Brooks', 'Ellen DeGeneres', 'Alexande...  ...     6122.0

[3 rows x 21 columns]

Convert strings to list

In [0]:
movies_1['genres']=movies_1['genres'].str.strip('[]').str.replace(' ','').str.replace("'",'')
movies_1['genres']=movies_1['genres'].str.split(',')

In [0]:
movies_1['cast']=movies_1['cast'].str.strip('[]').str.replace(' ','').str.replace("'",'')
movies_1['cast']=movies_1['cast'].str.split(',')

In [699]:
movies_1["cast"][4380]

['ReeseWitherspoon',
 'LauraDern',
 'ThomasSadoski',
 'KeeneMcRae',
 'MichielHuisman',
 'W.EarlBrown',
 'GabyHoffmann',
 'KevinRankin',
 'BrianVanHolt',
 'CliffDeYoung',
 'MoMcRae',
 'WillCuddy',
 'LeighParker',
 'NickEversman',
 'RayMist',
 'RandySchulman',
 'CathryndePrume',
 'KurtConroyd',
 'TeddeChatelet',
 'JeffreeNewman',
 'LorraineBahr',
 'JerryCarlton',
 'Kevin-MichaelMoore',
 'DebraPralle',
 'GrayEubank',
 'AnneSorce',
 'CharlesBaker',
 'J.D.Evermore',
 'BethHall',
 'JanHoag',
 'CarleeMcManus',
 'ArtAlexakis',
 'AnneGeeByrd',
 '"EvanOToole"',
 'JeanineJackson',
 'JasonNewell',
 '"BarryONeil"',
 'RichardMorris',
 'BobbiStrayedLindstrom',
 'RobertAlanBarnett',
 'WilliamNelson',
 'TonyDoupe',
 'DanConsidine',
 'AndrewSaunderson',
 'GregJames',
 'OriannaHerrman',
 'BrianBorcherdt',
 'EricD.Johnson',
 'MattPascua',
 'EdricCarter',
 'MatthewNoyes',
 'JohnDickerson',
 '',
 'DeniseMcSweeny',
 'AlinaGatti',
 'HenryShotwell',
 'CherylStrayed',
 'VincentM.Biscione']

In [0]:
movies_1["original_language"] = movies_1['original_language'].str.replace(' ','').str.replace("'",'')
movies_1['original_language']=movies_1['original_language'].str.split(',')

In [0]:
movies_1['crew']=movies_1['crew'].str.strip('[]').str.replace(' ','').str.replace("'",'')
movies_1['crew']=movies_1['crew'].str.split(',')

In [0]:
movies_1['keywords']=movies_1['keywords'].str.strip('[]').str.replace(' ','').str.replace("'",'')
movies_1['keywords']=movies_1['keywords'].str.split(',')

In [0]:
movies_1['production_companies']=movies_1['production_companies'].str.strip('[]').str.replace(' ','').str.replace("'",'')
movies_1['production_companies']=movies_1['production_companies'].str.split(',')

In [0]:
movies_1['production_countries']=movies_1['production_countries'].str.strip('[]').str.replace(' ','').str.replace("'",'')
movies_1['production_countries']=movies_1['production_countries'].str.split(',')

In [0]:
movies_1['spoken_languages']=movies_1['spoken_languages'].str.strip('[]').str.replace(' ','').str.replace("'",'')
movies_1['spoken_languages']=movies_1['spoken_languages'].str.split(',')

In [706]:
movies_1.head(1)

                                                cast  ... vote_count
0  [TimRoth, AntonioBanderas, JenniferBeals, Mado...  ...      530.0

[1 rows x 21 columns]

copy of data

In [0]:
movies_list=movies_1.copy()

In [0]:
keywords_list = dict()
for index,row in movies_1.iterrows():
    if isinstance(row["keywords"],float):continue
    if str(row["vote_average"])=='nan': continue
    if row["keywords"] == "":continue
    for keyword in row["keywords"]:
      if keyword == "":continue
      if keyword in keywords_list.keys() :
        temp = keywords_list[keyword]
        temp.append(row["vote_average"])
        keywords_list[keyword] = temp
      else :
        temp=[]
        temp.append(row["vote_average"])
        keywords_list[keyword]=temp

In [0]:
o_lang_list = dict()
for index,row in movies_1.iterrows():
    if isinstance(row["original_language"],float):continue
    if str(row["vote_average"])=='nan': continue
    if row["original_language"] == "":continue
    for o_lang in row["original_language"]:
      if o_lang == "":continue
      if o_lang in o_lang_list.keys() :
        temp = o_lang_list[o_lang]
        temp.append(row["vote_average"])
        o_lang_list[o_lang] = temp
      else :
        temp=[]
        temp.append(row["vote_average"])
        o_lang_list[o_lang]=temp

In [0]:
p_companies_list = dict()
for index,row in movies_1.iterrows():
    if isinstance(row["production_companies"],float):continue
    if str(row["vote_average"])=='nan': continue
    if row["production_companies"] == []:continue
    for p_company in row["production_companies"]:
      if p_company == "":continue
      if p_company in p_companies_list.keys() :
        temp = p_companies_list[p_company]
        temp.append(row["vote_average"])
        p_companies_list[p_company] = temp
      else :
        temp=[]
        temp.append(row["vote_average"])
        p_companies_list[p_company]=temp

In [0]:
cast_list = dict()
for index,row in movies_1.iterrows():
    if isinstance(row["cast"],float):continue
    if str(row["vote_average"])=='nan': continue
    if row["cast"] == [""]:continue
    if row["cast"] == []:continue
    if row["cast"] == "":continue
    for cast in row["cast"]:
      if cast == "":continue
      if cast in cast_list.keys() :
        temp = cast_list[cast]
        temp.append(row["vote_average"])
        cast_list[cast] = temp
      else :
        temp=[]
        temp.append(row["vote_average"])
        cast_list[cast]=temp

In [0]:
crew_list = dict()
for index,row in movies_1.iterrows():
    if isinstance(row["crew"],float):continue
    if str(row["vote_average"])=='nan': continue
    if row["crew"] == []:continue
    for crew in row["crew"]:
      if crew == "":continue
      if crew in crew_list.keys() :
        temp = crew_list[crew]
        temp.append(row["vote_average"])
        crew_list[crew] = temp
      else :
        temp=[]
        temp.append(row["vote_average"])
        crew_list[crew]=temp

In [0]:
genres_list = dict()
for index,row in movies_1.iterrows():
    if isinstance(row["genres"],float):continue
    if str(row["vote_average"])=='nan': continue
    if row["genres"] == []:continue
    for genres in row["genres"]:
      if genres == "":continue
      if genres in genres_list.keys() :
        temp = genres_list[genres]
        temp.append(row["vote_average"])
        genres_list[genres] = temp
      else :
        temp=[]
        temp.append(row["vote_average"])
        genres_list[genres]=temp

In [0]:
p_countries_list = dict()
for index,row in movies_1.iterrows():
    if isinstance(row["production_countries"],float):continue
    if str(row["vote_average"])=='nan': continue
    if row["production_countries"] == []:continue
    for p_countries in row["production_countries"]:
      if p_countries == "":continue
      if p_countries in p_countries_list.keys() :
        temp = p_countries_list[p_countries]
        temp.append(row["vote_average"])
        p_countries_list[p_countries] = temp
      else :
        temp=[]
        temp.append(row["vote_average"])
        p_countries_list[p_countries]=temp

In [0]:
s_lang_list = dict()
for index,row in movies_1.iterrows():
    if isinstance(row["spoken_languages"],float): continue
    if str(row["vote_average"])=='nan': continue
    if row["spoken_languages"] == []:continue
    for s_lang in row["spoken_languages"]:
      if s_lang == "":continue
      if s_lang in s_lang_list.keys() :
        temp = s_lang_list[s_lang]
        temp.append(row["vote_average"])
        s_lang_list[s_lang] = temp
      else :
        temp=[]
        temp.append(row["vote_average"])
        s_lang_list[s_lang]=temp

In [0]:
def reject_outliers(data, m=2):
    return data[abs(data - np.mean(data)) <= m * np.std(data)]

In [0]:
def encode(dic):
  for i in dic.keys():
    lis = dic[i]
    lis =[ii for ii in lis if str(ii)!='nan']
    lis = reject_outliers(np.array(lis))
    dic[i] = np.mean(lis)
  return dic

In [718]:
movies_1["cast"][4798]

['LisaHartCarroll',
 'MichaelDesBarres',
 'PaulDrake',
 'LauraHarrington',
 'ThomMathews',
 'CarolynSeymour',
 'LeonardTermo',
 'NorbertWeisser',
 'LydieDenier',
 'ChristinaWhitaker',
 'EstherElise',
 'DebraLamb']

In [719]:
l = movies_1[movies_1["vote_average"]==7]
[i for i in (l.index) if "" in l["cast"][i]]

[4380]

In [720]:
cast_list[""]

KeyError: ignored

In [0]:
cast_list = encode(cast_list)
crew_list = encode(crew_list)
genres_list = encode(genres_list)
keywords_list = encode(keywords_list)
p_countries_list = encode(p_countries_list)
p_companies_list = encode(p_companies_list)
s_lang_list = encode(s_lang_list)

In [0]:
o_lang_list = encode(o_lang_list)

In [723]:
o_lang_list

{'cn': 6.4363636363636365,
 'cs': 5.65,
 'da': 6.8999999999999995,
 'de': 6.678571428571429,
 'en': 6.217029933158965,
 'es': 6.623529411764705,
 'fr': 6.6686274509803924,
 'hi': 6.433333333333333,
 'hu': 6.5,
 'is': 6.9,
 'it': 6.9624999999999995,
 'ja': 7.116666666666667,
 'ko': 6.822222222222222,
 'nl': 7.233333333333333,
 'pt': 7.099999999999999,
 'ru': 6.26,
 'sv': 6.866666666666667,
 'ta': 5.0,
 'te': 7.5,
 'th': 5.966666666666666,
 'tr': 4.3,
 'xx': 7.1,
 'zh': 6.343478260869565}

In [724]:
movies_1["original_language"][0][0]

'en'

In [725]:
for i in range(movies_1.shape[0]):
  movies_1["cast"][i]=list(cast_list[_] for _ in movies_1["cast"][i] if _  in cast_list.keys() )
  movies_1["crew"][i]=list(crew_list[_] for _ in movies_1["crew"][i] if _  in crew_list.keys())
  if isinstance(movies_1["genres"][i],float):continue
  movies_1["genres"][i]=list(genres_list[_] for _ in movies_1["genres"][i] if _  in genres_list.keys())

  if isinstance(movies_1["original_language"][i],float):continue
  movies_1["original_language"][i]=list(o_lang_list[_] for _ in movies_1["original_language"][i] if _  in o_lang_list.keys())

  if isinstance(movies_1["keywords"][i],float):continue
  movies_1["keywords"][i]=list(keywords_list[_] for _ in movies_1["keywords"][i] if _ in keywords_list.keys())
  if isinstance(movies_1["production_companies"][i],float):continue
  movies_1["production_companies"][i]=list(p_companies_list[_] for _ in movies_1["production_companies"][i] if _  in p_companies_list.keys())
  if isinstance(movies_1["production_countries"][i],float):continue
  movies_1["production_countries"][i]=list(p_countries_list[_] for _ in movies_1["production_countries"][i] if _  in p_countries_list.keys())
  if isinstance(movies_1["spoken_languages"][i],float):continue
  movies_1["spoken_languages"][i]=list(s_lang_list[_] for _ in movies_1["spoken_languages"][i] if _  in s_lang_list.keys())

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [0]:
movies_2 = movies_1.copy()

In [727]:
movies_list["cast"][4380]

['ReeseWitherspoon',
 'LauraDern',
 'ThomasSadoski',
 'KeeneMcRae',
 'MichielHuisman',
 'W.EarlBrown',
 'GabyHoffmann',
 'KevinRankin',
 'BrianVanHolt',
 'CliffDeYoung',
 'MoMcRae',
 'WillCuddy',
 'LeighParker',
 'NickEversman',
 'RayMist',
 'RandySchulman',
 'CathryndePrume',
 'KurtConroyd',
 'TeddeChatelet',
 'JeffreeNewman',
 'LorraineBahr',
 'JerryCarlton',
 'Kevin-MichaelMoore',
 'DebraPralle',
 'GrayEubank',
 'AnneSorce',
 'CharlesBaker',
 'J.D.Evermore',
 'BethHall',
 'JanHoag',
 'CarleeMcManus',
 'ArtAlexakis',
 'AnneGeeByrd',
 '"EvanOToole"',
 'JeanineJackson',
 'JasonNewell',
 '"BarryONeil"',
 'RichardMorris',
 'BobbiStrayedLindstrom',
 'RobertAlanBarnett',
 'WilliamNelson',
 'TonyDoupe',
 'DanConsidine',
 'AndrewSaunderson',
 'GregJames',
 'OriannaHerrman',
 'BrianBorcherdt',
 'EricD.Johnson',
 'MattPascua',
 'EdricCarter',
 'MatthewNoyes',
 'JohnDickerson',
 '',
 'DeniseMcSweeny',
 'AlinaGatti',
 'HenryShotwell',
 'CherylStrayed',
 'VincentM.Biscione']

In [728]:
movies_2

                                                   cast  ... vote_count
0     [6.159999999999999, 6.057142857142858, 6.01666...  ...      530.0
1     [7.649999999999999, 6.596666666666667, 6.36666...  ...     6624.0
2     [6.507692307692308, 6.65, 6.133333333333333, 6...  ...     6122.0
3     [7.06551724137931, 6.4941176470588236, 6.43846...  ...     7927.0
4     [6.813043478260869, 6.2749999999999995, 6.8500...  ...     3313.0
...                                                 ...  ...        ...
4798    [6.25, 7.35, 7.3, 4.4, 7.033333333333334, 6.95]  ...        NaN
4799  [6.7, 6.165, 6.4, 7.4, 6.3, 5.944444444444445,...  ...        NaN
4800                                                 []  ...        NaN
4801                                                 []  ...        0.0
4802                                                 []  ...        NaN

[4803 rows x 21 columns]

In [0]:
movies_2 = movies_2.drop(["homepage","original_title","title","overview","status","tagline"],axis=1)

In [730]:
movies_2

                                                   cast  ... vote_count
0     [6.159999999999999, 6.057142857142858, 6.01666...  ...      530.0
1     [7.649999999999999, 6.596666666666667, 6.36666...  ...     6624.0
2     [6.507692307692308, 6.65, 6.133333333333333, 6...  ...     6122.0
3     [7.06551724137931, 6.4941176470588236, 6.43846...  ...     7927.0
4     [6.813043478260869, 6.2749999999999995, 6.8500...  ...     3313.0
...                                                 ...  ...        ...
4798    [6.25, 7.35, 7.3, 4.4, 7.033333333333334, 6.95]  ...        NaN
4799  [6.7, 6.165, 6.4, 7.4, 6.3, 5.944444444444445,...  ...        NaN
4800                                                 []  ...        NaN
4801                                                 []  ...        0.0
4802                                                 []  ...        NaN

[4803 rows x 15 columns]

In [732]:
for i in range(movies_2.shape[0]):
  if isinstance(movies_2["original_language"][i],float):continue
  movies_2["original_language"][i]=np.mean(reject_outliers(np.array(movies_2["original_language"][i])))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [731]:
for i in range(movies_2.shape[0]):
  movies_2["cast"][i]=np.mean(reject_outliers(np.array(movies_2["cast"][i])))
  movies_2["crew"][i]=np.mean(reject_outliers(np.array(movies_2["crew"][i])))
  if isinstance(movies_2["genres"][i],float):continue
  movies_2["genres"][i]=np.mean(reject_outliers(np.array(movies_2["genres"][i])))
  if isinstance(movies_2["keywords"][i],float):continue
  movies_2["keywords"][i]=np.mean(reject_outliers(np.array(movies_2["keywords"][i])))
  if isinstance(movies_2["production_companies"][i],float):continue
  movies_2["production_companies"][i]=np.mean(reject_outliers(np.array(movies_2["production_companies"][i])))
  if isinstance(movies_2["production_countries"][i],float):continue
  movies_2["production_countries"][i]=np.mean(reject_outliers(np.array(movies_2["production_countries"][i])))
  if isinstance(movies_2["spoken_languages"][i],float):continue
  movies_2["spoken_languages"][i]=np.mean(reject_outliers(np.array(movies_2["spoken_languages"][i])))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:3257: RuntimeWarning: Mean of empty slice.
  out=out, **kwargs)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:161: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:217: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:186: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/usr/local/lib/python3.6/dist-packages/numpy/core/_methods.py:209: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [733]:
movies_2

         cast     crew      budget  ... spoken_languages vote_average vote_count
0     6.34332  6.59219   4000000.0  ...          6.22527          6.5      530.0
1     7.97777    6.975  11000000.0  ...          6.22527          8.1     6624.0
2     6.73398    7.075  94000000.0  ...          6.22527          7.6     6122.0
3     7.68931  6.91538  55000000.0  ...          6.22527          8.2     7927.0
4     7.11323     6.75  15000000.0  ...          6.22527          7.9     3313.0
...       ...      ...         ...  ...              ...          ...        ...
4798  6.97667      NaN         NaN  ...              NaN          NaN        NaN
4799  6.37872      NaN         NaN  ...              NaN          NaN        NaN
4800      NaN      NaN         NaN  ...              NaN          NaN        NaN
4801      NaN      NaN         0.0  ...              NaN          0.0        0.0
4802      NaN      NaN         NaN  ...              NaN          NaN        NaN

[4803 rows x 15 columns]

In [734]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
movies_2.to_csv("/content/drive/My Drive/machine_learning data/data_using_max.csv")

In [736]:
movies_2.shape

(4803, 15)

In [737]:
tab_info=pd.DataFrame(movies_2.dtypes).T.rename(index={0:'column type'})
tab_info=tab_info.append(pd.DataFrame(movies_2.isnull().sum()).T.rename(index={0:'null values'}))
tab_info=tab_info.append(pd.DataFrame(movies_2.isnull().sum()/movies_2.shape[0]*100).T.rename(index={0:'null values (%)'}))
tab_info

                    cast     crew  ... vote_average vote_count
column type       object   object  ...      float64    float64
null values          126      715  ...         1004       1004
null values (%)  2.62336  14.8865  ...      20.9036    20.9036

[3 rows x 15 columns]

In [0]:
movies_2 = movies_2.dropna()

In [739]:
movies_2.shape

(3501, 15)

In [0]:
movies_2=movies_2[movies_2["budget"]!=0]

In [741]:
movies_2.shape

(3086, 15)

In [0]:
movies_2=movies_2[movies_2["popularity"]!=0]

In [743]:
movies_2

         cast     crew       budget  ... spoken_languages vote_average vote_count
0     6.34332  6.59219    4000000.0  ...          6.22527          6.5      530.0
1     7.97777    6.975   11000000.0  ...          6.22527          8.1     6624.0
2     6.73398    7.075   94000000.0  ...          6.22527          7.6     6122.0
3     7.68931  6.91538   55000000.0  ...          6.22527          8.2     7927.0
4     7.11323     6.75   15000000.0  ...          6.22527          7.9     3313.0
...       ...      ...          ...  ...              ...          ...        ...
4775  7.26667      7.3    4500000.0  ...          6.58436          7.3       57.0
4779  6.28544        6   20000000.0  ...          6.30627          6.3     1252.0
4785        6        6   68490000.0  ...          6.39894          6.0       24.0
4786      3.9      3.9   27000000.0  ...          6.12514          3.9        8.0
4797  6.31913      6.2  130000000.0  ...          6.30405          6.4      451.0

[3086 rows x 15 columns]

In [0]:
movies_2=movies_2[movies_2["vote_average"]!=0]

In [745]:
movies_2["vote_count"].describe()

count     3086.000000
mean       993.596565
std       1435.548266
min          2.000000
25%        179.000000
50%        472.500000
75%       1165.000000
max      13752.000000
Name: vote_count, dtype: float64

In [0]:
movies_2=movies_2[movies_2["vote_count"]!=100]

In [0]:
movies_2 = movies_2.drop("vote_count",axis=1)

In [0]:
movies_2['release_date'] = pd.DatetimeIndex(movies_2['release_date']).year

In [0]:
movies_2 = movies_2[movies_2["revenue"]!=0]

In [750]:
movies_2

         cast     crew       budget  ... runtime spoken_languages vote_average
0     6.34332  6.59219    4000000.0  ...    98.0          6.22527          6.5
1     7.97777    6.975   11000000.0  ...   121.0          6.22527          8.1
2     6.73398    7.075   94000000.0  ...   100.0          6.22527          7.6
3     7.68931  6.91538   55000000.0  ...   142.0          6.22527          8.2
4     7.11323     6.75   15000000.0  ...   122.0          6.22527          7.9
...       ...      ...          ...  ...     ...              ...          ...
4764    6.486      6.5   36000000.0  ...   105.0          6.27381          6.5
4775  7.26667      7.3    4500000.0  ...   126.0          6.58436          7.3
4779  6.28544        6   20000000.0  ...   100.0          6.30627          6.3
4785        6        6   68490000.0  ...   120.0          6.39894          6.0
4797  6.31913      6.2  130000000.0  ...    90.0          6.30405          6.4

[2769 rows x 14 columns]

In [0]:
movies_2["original_language"]=movies_2["original_language"].astype(float)
movies_2["cast"]=movies_2["cast"].astype(float)
movies_2["crew"]=movies_2["crew"].astype(float)
movies_2["keywords"]=movies_2["keywords"].astype(float)
movies_2["genres"]=movies_2["genres"].astype(float)
movies_2["production_companies"]=movies_2["production_companies"].astype(float)
movies_2["production_countries"]=movies_2["production_countries"].astype(float)
movies_2["genres"]=movies_2["genres"].astype(float)
movies_2["spoken_languages"]=movies_2["genres"].astype(float)

In [752]:
movies_2.corr()["vote_average"]

cast                    0.911024
crew                    0.785406
budget                 -0.004768
genres                  0.387316
keywords                0.794709
original_language       0.127489
popularity              0.310375
production_companies    0.736130
production_countries    0.180361
release_date           -0.143053
revenue                 0.227186
runtime                 0.416995
spoken_languages        0.387316
vote_average            1.000000
Name: vote_average, dtype: float64

In [0]:
movies_3 = movies_2[pd.DataFrame(movies_2.corr().abs()["vote_average"][movies_2.corr().abs()["vote_average"]>0.3]).index]

In [860]:
movies_3

          cast      crew    genres  ...  runtime  spoken_languages  vote_average
0     6.343323  6.592187  6.170050  ...     98.0          6.170050           6.5
1     7.977772  6.975000  6.157302  ...    121.0          6.157302           8.1
2     6.733985  7.075000  6.276000  ...    100.0          6.276000           7.6
3     7.689308  6.915385  6.265480  ...    142.0          6.265480           8.2
4     7.113230  6.750000  6.506601  ...    122.0          6.506601           7.9
...        ...       ...       ...  ...      ...               ...           ...
4764  6.486000  6.500000  6.459751  ...    105.0          6.459751           6.5
4775  7.266667  7.300000  6.378801  ...    126.0          6.378801           7.3
4779  6.285439  6.000000  6.010276  ...    100.0          6.010276           6.3
4785  6.000000  6.000000  6.144731  ...    120.0          6.144731           6.0
4797  6.319125  6.200000  6.197238  ...     90.0          6.197238           6.4

[2769 rows x 9 columns]

In [0]:
x=movies_3.copy()

In [862]:
x.columns[:]

Index(['cast', 'crew', 'genres', 'keywords', 'popularity',
       'production_companies', 'runtime', 'spoken_languages', 'vote_average'],
      dtype='object')

In [863]:
x.isna().sum()

cast                    0
crew                    0
genres                  0
keywords                0
popularity              0
production_companies    0
runtime                 0
spoken_languages        0
vote_average            0
dtype: int64

In [0]:
y=np.array(x["vote_average"])

In [0]:
x = x.drop(["vote_average"],axis=1)

In [0]:
x=x.values

In [867]:
x.shape

(2769, 8)

In [868]:
y.shape

(2769,)

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,shuffle=True)

In [0]:
reg = LinearRegression().fit(X_train, y_train)

In [919]:
x[:,:].shape

(2769, 8)

In [0]:
y_predict = reg.predict(X_test)

In [0]:
y_predict1 = reg.predict(X_train)

In [0]:
from sklearn import metrics

In [923]:
print('Mean Square Error', metrics.mean_squared_error(y_test, y_predict))

Mean Square Error 0.07479444572542908

In [924]:
print('Mean Square Error', metrics.mean_squared_error(y_train, y_predict1))

Mean Square Error 0.08477762791904056

In [925]:
reg.score(X_test,y_test)

0.881396698352619

In [926]:
count=0
for i in range(len(y_test)):
    if abs(y_predict[i] - y_test[i])<0.1:   
        count+=1
print(count/len(y_test))
print()

0.35018050541516244

In [927]:
error=0
for i in range(len(y_test)):
    error+=(abs(y_predict[i]-y_test[i])/y_test[i])
test_error_bay=(error/len(y_test))*100
test_error_bay

3.4077035223416057

In [928]:
print(y_test[20:30])
print(y_predict[20:30])

[6.5 6.6 5.5 7.4 7.  6.4 5.7 4.9 6.6 6.2]
[6.32593118 6.55954155 6.18927309 7.47956204 7.00261962 6.08271839
 5.56978225 5.26918912 6.79247751 5.93476439]

In [0]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(3)

In [0]:
X_train2 = poly.fit_transform(X_train)

In [0]:
reg2 = LinearRegression().fit(X_train2, y_train)

In [0]:
X_test2 = poly.transform(X_test)

In [949]:
y_predict2 = reg2.predict(X_test2)


print(reg2.score(X_test2,y_test))

print('Mean Square Error', metrics.mean_squared_error(y_test, y_predict2))

0.8938896699964299
Mean Square Error 0.06691604034730207

In [950]:
print(y_predict[0:20])
print(y_test[0:20])

[5.44833345 6.25088897 6.57900108 6.54043034 6.73515161 6.357056
 5.29823847 6.3429945  5.06575238 5.34190101 6.44911784 6.15653712
 6.32685057 5.86882893 6.32918792 4.38284839 5.37181273 6.79263039
 6.48372884 6.70784295]
[5.5 6.2 6.1 6.6 7.2 6.4 5.6 6.8 4.7 5.7 6.6 6.3 6.6 6.1 6.4 4.8 4.  6.7
 6.4 7. ]

In [951]:
count=0
for i in range(len(y_test)):
    if abs(y_predict2[i] - y_test[i])<0.5:
        count+=1
print(count/len(y_test))
print()

0.9512635379061372

In [952]:
error=0
for i in range(len(y_test)):
    error+=(abs(y_predict2[i]-y_test[i])/y_test[i])
test_error_bay=(error/len(y_test))*100
test_error_bay

3.215863082178725

In [0]:
from sklearn import linear_model

In [0]:
model=linear_model.Ridge()
model.fit(X_train,y_train)
y_predict3=model.predict(X_train)

In [955]:
error=0
for i in range(len(y_train)):
    error+=(abs(y_predict3[i]-y_train[i])/y_train[i])
test_error_bay=(error/len(y_train))*100
print("train error")

test_error_bay

train error

3.614105443726437

In [956]:
y_predict3=model.predict(X_test)
error=0
for i in range(len(y_test)):
    error+=(abs(y_predict3[i]-y_test[i])/y_test[i])
test_error_bay=(error/len(y_test))*100
print('Mean Square Error', metrics.mean_squared_error(y_test, y_predict3))
print("test error")
test_error_bay

Mean Square Error 0.07479399726474505
test error

3.4081552222389204

In [957]:
count=0
for i in range(len(y_test)):
    if abs(y_predict3[i] - y_test[i])<0.9:
        count+=1
print(count/len(y_test))
print()

0.9927797833935018

In [958]:
print(y_predict[0:20])
print(y_test[0:20])

[5.44833345 6.25088897 6.57900108 6.54043034 6.73515161 6.357056
 5.29823847 6.3429945  5.06575238 5.34190101 6.44911784 6.15653712
 6.32685057 5.86882893 6.32918792 4.38284839 5.37181273 6.79263039
 6.48372884 6.70784295]
[5.5 6.2 6.1 6.6 7.2 6.4 5.6 6.8 4.7 5.7 6.6 6.3 6.6 6.1 6.4 4.8 4.  6.7
 6.4 7. ]

In [0]:
reg = linear_model.BayesianRidge()
reg.fit(X_train,y_train)
y1_reg=reg.predict(X_train)
y1_reg=list(y1_reg)
y2_reg=reg.predict(X_test)
y2_reg=list(y2_reg)

In [960]:
error=0
for i in range(len(y_train)):
    error+=(abs(y1_reg[i]-y_train[i])/y_train[i])
train_error_bay=error/len(y_train)*100
print("Train error = "+'{}'.format(train_error_bay)+" percent"+" in Bayesian Regression")

error=0
for i in range(len(y_test)):
    error+=(abs(y2_reg[i]-y_test[i])/y_test[i])
test_error_bay=(error/len(y_test))*100
print("Test error = "+'{}'.format(test_error_bay)+" percent"+" in Bayesian Regression")
print('Mean Square Error', metrics.mean_squared_error(y_test, y2_reg))

Train error = 3.614013984829963 percent in Bayesian Regression
Test error = 3.4079166102504934 percent in Bayesian Regression
Mean Square Error 0.07479384745676501

In [0]:
from sklearn import svm

In [962]:
svm_reg=svm.SVR()
svm_reg.fit(X_train,y_train)
y1_svm=svm_reg.predict(X_train)
y1_svm=list(y1_svm)
y2_svm=svm_reg.predict(X_test)
y2_svm=list(y2_svm)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [963]:
error=0
for i in range(len(y_train)):
    error+=(abs(y1_svm[i]-y_train[i])/y_train[i])
train_error_bay=error/len(y_train)*100
print("Train error = "+'{}'.format(train_error_bay)+" percent"+" in Bayesian Regression")

error=0
for i in range(len(y_test)):
    error+=(abs(y2_svm[i]-y_test[i])/y_test[i])
test_error_bay=(error/len(y_test))*100
print("Test error = "+'{}'.format(test_error_bay)+" percent"+" in Bayesian Regression")
print('Mean Square Error', metrics.mean_squared_error(y_test, y2_svm))

Train error = 3.4886984700045898 percent in Bayesian Regression
Test error = 6.198856214903394 percent in Bayesian Regression
Mean Square Error 0.2616921293725636